<div class="col-md-4" style="padding-bottom: 50px;">
	<div class="fever-box" style="box-shadow: 0 3px 6px 3px #ccc;">
		<div class="img-box">
			<a href="#">
				<img class="img-responsive" src="../../img/fever01.jpg" alt="" />
			</a>
		</div>
		<div class="fever-title" style="padding:0 10px">
			<a href="#">
				<h3>拍立得手机，瞬间抓住惊颤<br /><small>真正的拍立得手机哈</small></h3>
			</a>
		</div>
		<hr />
		<div class="fever-time" style="height: 50px;padding:0 10px">
			<span class="pull-left" style="padding-right: 10px;">08<br />天</span>
			<span class="pull-left" style="padding-right: 10px;">23<br />时</span>
			<span class="pull-left" style="padding-right: 10px;">16<br />分</span>
			<span class="pull-left" style="padding-right: 10px;">45<br />秒</span>
			<span class="pull-right" style="padding-right: 10px;">0.5% <br />5人投票</span>
		</div>
	</div>
</div>

<div class="col-md-4" style="padding-bottom: 50px;">
	<div class="fever-box" style="box-shadow: 0 3px 6px 3px #ccc;">
		<div class="img-box">
			<a href="#">
				<img class="img-responsive" src="../../img/fever01.jpg" alt="" />
			</a>
		</div>
		<div class="fever-title" style="padding:0 10px">
			<a href="#">
				<h3>拍立得手机，瞬间抓住惊颤<br /><small>真正的拍立得手机哈</small></h3>
			</a>
		</div>
		<hr />
		<div class="fever-time" style="height: 50px;padding:0 10px">
			<span class="pull-left" style="padding-right: 10px;">08<br />天</span>
			<span class="pull-left" style="padding-right: 10px;">23<br />时</span>
			<span class="pull-left" style="padding-right: 10px;">16<br />分</span>
			<span class="pull-left" style="padding-right: 10px;">45<br />秒</span>
			<span class="pull-right" style="padding-right: 10px;">0.5% <br />5人投票</span>
		</div>
	</div>
</div>

<div class="col-md-4" style="padding-bottom: 50px;">
	<div class="fever-box" style="box-shadow: 0 3px 6px 3px #ccc;">
		<div class="img-box">
			<a href="#">
				<img class="img-responsive" src="../../img/fever01.jpg" alt="" />
			</a>
		</div>
		<div class="fever-title" style="padding:0 10px">
			<a href="#">
				<h3>拍立得手机，瞬间抓住惊颤<br /><small>真正的拍立得手机哈</small></h3>
			</a>
		</div>
		<hr />
		<div class="fever-time" style="height: 50px;padding:0 10px">
			<span class="pull-left" style="padding-right: 10px;">08<br />天</span>
			<span class="pull-left" style="padding-right: 10px;">23<br />时</span>
			<span class="pull-left" style="padding-right: 10px;">16<br />分</span>
			<span class="pull-left" style="padding-right: 10px;">45<br />秒</span>
			<span class="pull-right" style="padding-right: 10px;">0.5% <br />5人投票</span>
		</div>
	</div>
</div>

<div class="col-md-4" style="padding-bottom: 50px;">
	<div class="fever-box" style="box-shadow: 0 3px 6px 3px #ccc;">
		<div class="img-box">
			<a href="#">
				<img class="img-responsive" src="../../img/fever01.jpg" alt="" />
			</a>
		</div>
		<div class="fever-title" style="padding:0 10px">
			<a href="#">
				<h3>拍立得手机，瞬间抓住惊颤<br /><small>真正的拍立得手机哈</small></h3>
			</a>
		</div>
		<hr />
		<div class="fever-time" style="height: 50px;padding:0 10px">
			<span class="pull-left" style="padding-right: 10px;">08<br />天</span>
			<span class="pull-left" style="padding-right: 10px;">23<br />时</span>
			<span class="pull-left" style="padding-right: 10px;">16<br />分</span>
			<span class="pull-left" style="padding-right: 10px;">45<br />秒</span>
			<span class="pull-right" style="padding-right: 10px;">0.5% <br />5人投票</span>
		</div>
	</div>
</div>