<div class="col-md-6 col-sm-10 col-xs-20 idea-item" style="padding-bottom: 50px;">
	<div class="fever-box" style="box-shadow: 0 3px 6px 3px #ccc;">
		<div class="img-box">
			<a ui-sref="idea-detail.describe" target="_blank">
				<img class="img-responsive" src="img/fever01.jpg" width="100%" />
			</a>
		</div>
		<div class="fever-title" style="padding:0 10px">
			<a ui-sref="idea-detail.describe" target="_blank">
				<h3>拍立得手机，瞬间抓住惊颤<br /></h3>
			</a>
			<p></p>
		</div>
		<div class="media" style="padding:0 10px">
			<a class="pull-left" href="#">
				<img class="media-object img-circle img-responsive" src="../img/01-233.jpg" style="width: 35px;height: 35px;">
			</a>
			<div class="media-body">
				<a href="#"><h5 class="media-heading">异想天开</h5></a>
				<div>我是完美主义者，喜欢天然有品质的事物，也喜欢手工创作。手作可以让我真正慢下来，让我能够用心感受生活，打磨时光。</div>
			</div>
		</div>
		<br />
		<div style="padding: 0 10px;">
			<div class="progress progress-striped active" style="height: 10px;">
			   <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" 
			      aria-valuemin="0" aria-valuemax="100" style="width: 81%;height: 10px;">
			      <span class="sr-only">81% 完成</span>
			   </div>
			</div>
		</div>
		<div class="row" style="padding: 0 10px;height: 38px;">
			<span class="col-md-6 col-md-offset-1 col-xs-6 text-center">86赞<br />还需 </span>
			<span class="col-md-6 col-xs-6 text-center" style="border-right: 1px dashed #ccc;border-left: 1px dashed #ccc;">81%<br />已达到</span>
			<span class="col-md-6 col-xs-6 text-center">8 天<br />剩余</span>
		</div>
		<hr style="margin: 8px 0;" />
		<div style="padding: 0 10px 10px;">
			<a href="#" style="margin-right: 20px;">
				<span style="font-size: 16px;" class="glyphicon glyphicon-thumbs-up"></span>&nbsp;889
			</a>
			<!--<a href="#" style="margin-right: 20px;">
				<span style="font-size: 16px;" class="glyphicon glyphicon-thumbs-down"></span>&nbsp;88
			</a>-->
			<a href="#" style="margin-right: 20px;">
				<span style="font-size: 16px;" class="glyphicon glyphicon-comment"></span>&nbsp;88
			</a>
			<a href="#" style="margin-right: 20px;">
				<span style="font-size: 16px;" class="glyphicon glyphicon-eye-open"></span>&nbsp;1865
			</a>
		</div>
	</div>
</div>

<div class="col-md-6 col-sm-10 col-xs-20 idea-item" style="padding-bottom: 50px;">
	<div class="fever-box" style="box-shadow: 0 3px 6px 3px #ccc;">
		<div class="img-box">
			<a ui-sref="idea-detail.describe" target="_blank">
				<img class="img-responsive" src="img/fever01.jpg" width="100%" />
			</a>
		</div>
		<div class="fever-title" style="padding:0 10px">
			<a ui-sref="idea-detail.describe" target="_blank">
				<h3>拍立得手机，瞬间抓住惊颤<br /></h3>
			</a>
			<p></p>
		</div>
		<div class="media" style="padding:0 10px">
			<a class="pull-left" href="#">
				<img class="media-object img-circle img-responsive" src="../img/01-233.jpg" style="width: 35px;height: 35px;">
			</a>
			<div class="media-body">
				<a href="#"><h5 class="media-heading">异想天开</h5></a>
				<div>我是完美主义者，喜欢天然有品质的事物，也喜欢手工创作。手作可以让我真正慢下来，让我能够用心感受生活，打磨时光。</div>
			</div>
		</div>
		<br />
		<div style="padding: 0 10px;">
			<div class="progress progress-striped active" style="height: 10px;">
			   <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" 
			      aria-valuemin="0" aria-valuemax="100" style="width: 81%;height: 10px;">
			      <span class="sr-only">81% 完成</span>
			   </div>
			</div>
		</div>
		<div style="padding: 0 10px;height: 38px;">
			<span class="col-md-6 text-center">86赞<br />还需 </span>
			<span class="col-md-6 text-center" style="border-right: 1px dashed #ccc;border-left: 1px dashed #ccc;">81%<br />已达到</span>
			<span class="col-md-6 text-center">8 天<br />剩余</span>
		</div>
		<hr style="margin: 8px 0;" />
		<div style="padding: 0 10px 10px;">
			<a href="#" style="margin-right: 20px;">
				<span style="font-size: 16px;" class="glyphicon glyphicon-thumbs-up"></span>&nbsp;889
			</a>
			<!--<a href="#" style="margin-right: 20px;">
				<span style="font-size: 16px;" class="glyphicon glyphicon-thumbs-down"></span>&nbsp;88
			</a>-->
			<a href="#" style="margin-right: 20px;">
				<span style="font-size: 16px;" class="glyphicon glyphicon-comment"></span>&nbsp;88
			</a>
			<a href="#" style="margin-right: 20px;">
				<span style="font-size: 16px;" class="glyphicon glyphicon-eye-open"></span>&nbsp;1865
			</a>
		</div>
	</div>
</div>

<div class="col-md-6 col-sm-10 col-xs-20 idea-item" style="padding-bottom: 50px;">
	<div class="fever-box" style="box-shadow: 0 3px 6px 3px #ccc;">
		<div class="img-box">
			<a ui-sref="idea-detail.describe" target="_blank">
				<img class="img-responsive" src="img/fever01.jpg" width="100%" />
			</a>
		</div>
		<div class="fever-title" style="padding:0 10px">
			<a ui-sref="idea-detail.describe" target="_blank">
				<h3>拍立得手机，瞬间抓住惊颤<br /></h3>
			</a>
			<p></p>
		</div>
		<div class="media" style="padding:0 10px">
			<a class="pull-left" href="#">
				<img class="media-object img-circle img-responsive" src="../img/01-233.jpg" style="width: 35px;height: 35px;">
			</a>
			<div class="media-body">
				<a href="#"><h5 class="media-heading">异想天开</h5></a>
				<div>我是完美主义者，喜欢天然有品质的事物，也喜欢手工创作。手作可以让我真正慢下来，让我能够用心感受生活，打磨时光。</div>
			</div>
		</div>
		<br />
		<div style="padding: 0 10px;">
			<div class="progress progress-striped active" style="height: 10px;">
			   <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" 
			      aria-valuemin="0" aria-valuemax="100" style="width: 81%;height: 10px;">
			      <span class="sr-only">81% 完成</span>
			   </div>
			</div>
		</div>
		<div style="padding: 0 10px;height: 38px;">
			<span class="col-md-6 text-center">86赞<br />还需 </span>
			<span class="col-md-6 text-center" style="border-right: 1px dashed #ccc;border-left: 1px dashed #ccc;">81%<br />已达到</span>
			<span class="col-md-6 text-center">8 天<br />剩余</span>
		</div>
		<hr style="margin: 8px 0;" />
		<div style="padding: 0 10px 10px;">
			<a href="#" style="margin-right: 20px;">
				<span style="font-size: 16px;" class="glyphicon glyphicon-thumbs-up"></span>&nbsp;889
			</a>
			<!--<a href="#" style="margin-right: 20px;">
				<span style="font-size: 16px;" class="glyphicon glyphicon-thumbs-down"></span>&nbsp;88
			</a>-->
			<a href="#" style="margin-right: 20px;">
				<span style="font-size: 16px;" class="glyphicon glyphicon-comment"></span>&nbsp;88
			</a>
			<a href="#" style="margin-right: 20px;">
				<span style="font-size: 16px;" class="glyphicon glyphicon-eye-open"></span>&nbsp;1865
			</a>
		</div>
	</div>
</div>

