<!--一个商品展示区域开始-->
<div class="col-md-3 sale-item" ng-repeat="x in list">
	<div class="sale-item-box">
		<div class="sale-item-img">
			<a ui-sref="product-detail" target="_blank">
				<img class="img-responsive" ng-src="{[x.img]}"/>
			</a>
			<p>&yen;<span style="color: red;">&nbsp;{[x.price]}.00</span></p>
		</div>
		<div class="sale-item-title">
			<a href="#">{[x.title]}</a>
		</div>
		<div class="sale-item-tips">
			<a class="btn btn-danger btn-xs" href="#">
				<span class="glyphicon glyphicon-heart-empty"></span>&nbsp;
				{[x.like]}
			</a>
			<a class="pull-right" href="#">销量({[x.sales]})</a>
		</div>
		<hr class="sale-item-line" />
		<!--一个用户评论区域开始-->
		<div class="sale-item-comment">
			<ul class="list-unstyled">
				<li class="head">
					<a href="#">
						<img class="img-circle img-responsible" src=""/>
					</a>
				</li>
				<li class="comment">
					<a href="#">我爱创意</a>
					<p>内搭T恤翻领衬衫都可以，冷一些做外套的打底也可以~公司的高房价撒高房价撒官方数据就是个方法就是咯蛋糕发啥快递松井大辅尴尬就是看设计风格刷卡机</p>
				</li>
			</ul>
		</div>
	</div>
	<!--一个用户评论区域结束-->
</div>
<!--一个商品展示区域结束-->