<!--一个商品展示区域开始-->
<div class="col-lg-5 col-md-5 col-sm-10 sale-item" ng-repeat="type in types">
	<div class="sale-item-box">
		<div class="sale-item-img">
			<a ui-sref=".detail({productId:type.id})" target="_blank">
				<img class="img-responsive" ng-src="{[type.photo_intros]}"/>
			</a>
		</div>
		<div class="sale-item-brief">
			<div class="sale-item-title">
				<a ui-sref=".detail({productId:type.id})" target="_blank">
					<h4>{[type.title]}</h4>
				</a>
			</div>
			<div class="sale-item-tips">
				<span>&yen;<span style="color: red;font-size:22px;">&nbsp;{[type.price | number:2]}</span></span>
				<a href="" style="padding-left:160px">
					<span class="glyphicon glyphicon-heart-empty" style="font-size:18px;"></span>&nbsp;
					{[type.num_liked]}
				</a>
			</div>
		</div>
	</div>
</div>
<!--一个商品展示区域结束-->