.sale-item{
	margin: 20px 0;
}
.sale-item-brief{
	border: 1px dashed #ccc;
}
.sale-item-brief:hover{
	border: 1px dashed #BCD416;
	background-color: #BCD416;
}
.sale-item-img a img{
	width: 100%;
}
.sale-item-title{
	height: 53px;
	padding: 10px 10px 0;
	overflow: hidden;
}
.sale-item-tips{
	padding: 10px 10px;
}
.sale-item-line{
	margin: 10px 0;
}
.sale-item-comment{
	height: 55px;
	padding: 0 10px;
	overflow: hidden;
}
.sale-item-comment ul li img{
	width: 30px;
	height: 30px;
}
.sale-item-comment ul li.head{
	float: left;
	width: 20%;
}
.sale-item-comment ul li.comment{
	float: right;
	width: 80%;
}