{% extends 'sites/base.html' %}
{% load forum_extras %}
{%  load humanize %}
{% block title %}
论坛
{% endblock %}
{% block content %}
    <div id="main-content">
        <!-- -->
        <div class="jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h1>Hello, world!</h1>
                        <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                        <p>
                        <a class="btn btn-danger btn-lg" href="/forum/{{ forum.pk }}/topic/add/"
                                role="button">发表话题</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ol class="breadcrumb">
                        <li><a href="javascript:void(0);">社区</a></li>
                        <li><a href="javascript:void(0);">最新动态</a></li>
                        <li class="active">业界动态</li>
                    </ol>
                </div>
            </div>
        </div>

        <!-- -->
        <div class="container">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p>
                            时间：
                            <a class="btn btn-default" role="button">全部</a>
                            <a class="btn btn-default" role="button">一天之内</a>
                            <a class="btn btn-default" role="button">一周之内</a>
                            <a class="btn btn-default" role="button">一个月内</a>
                            <a class="btn btn-default" role="button">近一年内</a>
                        </p>
                        <p>
                            排序：
                            <a class="btn btn-default" role="button">默认</a>
                            <a class="btn btn-default" role="button">发帖时间</a>
                            <a class="btn btn-default" role="button">回复最多</a>
                            <a class="btn btn-default" role="button">收藏最多</a>
                            <a class="btn btn-default" role="button">最赞主题</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- -->
        <div class="container">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <td>发布者</td>
                                <td>主题</td>
                                <td>最后回应</td>
                                <td>回复数</td>
                            </tr>
                        </thead>
                        <tbody>
                        {% for topic in topics %}
                            <tr>
                                <td>
                                    <a class="btn">
                                        <img class="img-circle img-responsive"
                                        src="{{ topic.user.profile.get_client_avatar_url }}" width="80" height="80"></a>
                                    </a>
                                </td>
                                <td>
                                    <h4><b>
                                            <a href="/forum/topic/{{ topic.id  }}">[置顶] {{ topic.name }}</a>
                                    </b></h4>

                                    <p>{{ topic.user.username  }} 于{{ topic.created | format_time}} 发表</p>
                                    <p>

                                    </p>
                                </td>
                                <td>
                                    <a class="btn">
                                        <img class="img-circle img-responsive" src="{{ topic.user.profile.get_client_avatar_url  }}" width="80" height="80"></a>
                                    </a>
                                    回复于{{ topic.updated | naturaltime  }}
                                </td>
                                <td>
                                    <a class="btn btn-danger btn-lg">
                                        {{ topic.reply_count  }}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    {% if is_paginated %}
                        <div class="pagination">
                            <span class="page-links">
                                {% if page_obj.has_previous %}
                                    <a href=".?page={{ page_obj.previous_page_number }}">上一页</a>
                                {% endif %}
                                <!--<span class="page-current">-->
                                    <!--Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.-->
                                <!--</span>-->
                                {% if page_obj.has_next %}
                                    <a href=".?page={{ page_obj.next_page_number }}">下一页</a>
                                {% endif %}
                            </span>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- -->
        <!--<div class="container">-->
        <!--<div class="row">-->
        <!--<div class="col-md-12 text-center">-->
        <!--<ul class="pagination">-->
        <!--<li><a href="#">&laquo;</a></li>-->
        <!--<li class="active"><a href="#">1</a></li>-->
        <!--<li><a href="#">2</a></li>-->
        <!--<li><a href="#">3</a></li>-->
        <!--<li><a href="#">4</a></li>-->
        <!--<li><a href="#">5</a></li>-->
        <!--<li><a href="#">&raquo;</a></li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

</div>
{% endblock %}
