{% extends 'sites/base.html' %}
{% load forum_extras %}
{% load i18n %}

{% block title %} / {{ topic.forum.name }} / {{ topic.name }}{% endblock %}
{% block content %}
<div id="main-content">
<!--路径-->
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <ol class="breadcrumb">
                <li> <a href="{% url 'djangobb:index' %}">社区 </a></li>
                <li>&raquo; {% link topic.forum %} </li>
                <li>&raquo; {{ topic.name }} </li>
            </ol>
        </div>
        <div class="col-md-2">
            <p>
                <a class="btn btn-default" href="/forum/{{ topic.forum.id }}/topic/add/" >+ 发表话题</a>
            </p>
        </div>
    </div>
</div>


<!-- -->
<div class="container">
    <div class="col-md-12">
        <div class="panel panle-default">

            <div class="panel-heading">
                <div class="col-md-2">
                    <img class="img-responsive" src="{{ topic.user.profile.get_client_avatar_url }}" />
                </div>
                <div class="col-md-9">
                    <h3>{{ topic.name  }}</h3>
                    <p>
                    <span>{{ topic.user.username  }}</span> 发表于 <span>{{ topic.created  }}</span> |
                        浏览数: <span>{{ topic.views  }}</span>
                    </p>
                </div>
                <div class="col-md-1">
                    <a href="">
                        <span class="badge pull-right">{{ topic.views  }}</span>
                    </a>
                </div>
            </div>
            
            <div class="panel-body">
                <div class="col-md-10 col-md-offset-2 well-font-size">
                    {{ posts.0.body }}
                </div>

                <div class="col-md-10 col-md-offset-2 well-font-size">
                    <!-- For common use: -->
                    <p class="pad-bottom-1em">
                        <a><i class="glyphicon glyphicon-tag"></i>原创</a>
                        <a><i class="glyphicon glyphicon-tag"></i>鸟语言</a>
                        <a><i class="glyphicon glyphicon-tag"></i>iphone 6</a>
                        <a><i class="glyphicon glyphicon-tag"></i>手机屏</a>
                        <a><i class="glyphicon glyphicon-tag"></i>手机壳</a>
                    </p>
                    <div class="col-md-5">
                        <p class="btn-group">
                        <!--收藏-->
                            <a class="btn btn-default"><i class="glyphicon glyphicon-star"></i></a>
                            <a class="btn btn-default"><i class="glyphicon glyphicon-heart"></i></a>
                        </p>
                    </div>
                    <div>
                        <p>
                            <span class="pull-right">
                                分享：
                                <a class="btn btn-default"></a>
                                <a class="btn btn-default"></a>
                                <a class="btn btn-default"></a>
                                <a class="btn btn-default"></a>
                                <a class="btn btn-default"></a>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    <!--回复区域开始-->
    <div class="container">     		
        <div class="row">    			
            <div class="col-md-10 col-md-offset-1">
            <form role="form" action="." method="POST" >
                {% csrf_token %}
                <div class="form-group">						    
                    <textarea class="form-control" rows="3" placeholder="请输入内容" name="body"></textarea>
                    <br />
                    <input class="btn btn-info pull-right" type="submit" name="some_name" value="评论"/>
                </div>
            </form>
            </div>
        </div>
        <br />
        <!--跟帖-->
        {% for post in posts %}
            {% if forloop.first  %}
            {% else  %}
                <div class="row">    		
                    <div class="col-md-2 col-sm-2">
                        <img class="img-responsive img-circle pull-right" src="{{ post.user.profile.get_client_avatar_url  }}" />	
                    </div>
                    <div class="col-md-9 col-sm-9">
                        <h3><a href="">{{ post.user.username }}</a>&nbsp;&nbsp;<small>{{ post.created  }}</small></h3>
                        <p>{{ post.body }}</p>
                    </div>
                    <div class="col-md-1 col-sm-1">
                        <a style="line-height: 100px;font-size: 20px;" href="#">
                            <span class="glyphicon glyphicon-heart-empty" title="喜欢"></span>
                        </a>
                    </div>
                </div>     		
                <br />
            {% endif %}
        {% endfor %}
    </div><!--回复区域结束-->    	
</div>
{% endblock content%}

