<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 text-center" style="padding-top: 100px;">
			<h3 class="page-header" style="color: green;">激活账号<br /><small>(点击以下链接进入邮箱进行激活)</small></h3>
			<a href="//mail.qq.com/cgi-bin/loginpage" target="_blank"><h5>https://mail.qq.com/cgi-bin/loginpage</h5></a>
		</div>
	</div>
	<div class="row" style="padding-top: 30px;">
		<div class="col-md-6 col-md-offset-3 text-center">
			<a class="btn btn-default" href="#">返回首页</a>
		</div>
	</div>
</div>