<br />
<!--分类导航栏开始-->
<div class="container">
	<div ui-view="type-nav"></div>
</div>
<!--分类导航栏结束-->
<!--产品删选区域开始-->
<div class="container">
	<div class="row">
		<div class="col-md-12">
			分类：
			<a href="#">全部</a>
			<a href="#">卫浴用品</a>
			<a href="#">吃货神器</a>
			<a href="#">灯光照明</a>
			<a href="#">伞</a>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-md-2">
			排序：
			<a href="#">热销</a>
			<a href="#">最新</a>
			<a href="#">最热</a>	
		</div>
		<div class="col-md-10">
			价格：
			<div class="btn-group">
				<button class="btn btn-default btn-xs" type="button">全部</button>
				<button class="btn btn-default btn-xs" type="button">0-100</button>
				<button class="btn btn-default btn-xs" type="button">101-200</button>
				<button class="btn btn-default btn-xs" type="button">201-300</button>
				<button class="btn btn-default btn-xs" type="button">301-400</button>
				<button class="btn btn-default btn-xs" type="button">401-500</button>
				<button class="btn btn-default btn-xs" type="button">500以上</button>
			</div>
		</div>
	</div>
	<hr />
</div>
<!--产品删选区域结束-->
<!--产品展示区域开始-->
</span>
<div class="container">
	<div ui-view="products-list"></div>
</div>
<!--产品展示区域结束-->
<!--页脚区域开始-->
<div class="footer hidden-xs">
	<div ui-view="footer"></div>
</div>
<!--页脚区域结束-->
