<div class="col-md-12">
	<div class="panel panel-default">
		<div class="pannel-body">
			<div class="fever-type-title" style="height: 50px;padding: 0 20px;">
				<a class="pull-left" href="#"><h3>正在投票</h3></a>
				<h3 class="pull-left" style="padding: 0 20px;">|</h3>
				<a class="pull-left" href="#"><h3>即将结束</h3></a>
				<a class="pull-right" href="#"><h3><span class="glyphicon glyphicon-list"></span></h3></a>
			</div>
			<hr />
			<div class="fever-type-list" style="padding: 0 20px;">
				<h4>分类：
					<a href="#" style="padding: 0 10px;">全部</a>
					<a href="#" style="padding: 0 10px;">健康医疗</a>
					<a href="#" style="padding: 0 10px;">数码电子</a>
					<a href="#" style="padding: 0 10px;">智能家居</a>
					<a href="#" style="padding: 0 10px;">娱乐生活</a>
					<a href="#" style="padding: 0 10px;">户外运动</a>
				</h4>
				<h4>排序：
					<a href="#" style="padding: 0 10px;">最新</a>
					<a href="#" style="padding: 0 10px;">投票</a>
					<a href="#" style="padding: 0 10px;">评论</a>
				</h4>
			</div>
			<br />
		</div>
	</div>
</div>