<div ui-view="">
	<!--轮播图区域开始-->
	<div class="container-fluid">
		<div ui-view="carousel"></div>
	</div>
	<!--轮播图区域结束-->

	<!--分类导航栏开始-->
	<div ui-view="fever-type">这是商品分类</div>
	<!--分类导航栏结束-->
	<br />
	<div class="container" style="padding:20px 26px;">
		<div class="row">
			<div class="col-md-18 col-xs-16" style="height: 50px;">
				<h3 style="margin-top: 0;">热门项目</h3>
			</div>
			<div class="col-md-2 col-xs-4">
				<a class="pull-right" ui-sref=".latest">
					<span class="badge" style="background-color:#B0DDF3;color:#00A0E8;padding:3px 12px;">more</span>
				</a>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div ui-view="latest-list">展示创意列表</div>
		</div>
	</div>

	<div class="container" style="padding:20px 26px;">
		<div class="row">
			<div class="col-md-18" style="height: 50px;">
				<h3 style="margin-top: 0;">成功项目</h3>
			</div>
			<div class="col-md-2">
				<a class="pull-right" ui-sref=".success">
					<span class="badge" style="background-color:#B0DDF3;color:#00A0E8;padding:3px 12px;">more</span>
				</a>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div ui-view="success-list">展示创意列表</div>
		</div>
	</div>
</div>

<div ui-view="footer"></div>

