<div style="width: 100%;padding: 20px 0; border-bottom: 1px dashed #ccc;">
	<div class="container">
		<div class="row">
			<div class="col-md-20">
				<ul class="list-unstyled shop-type">
                    <li class="blue" ui-sref-active="type-active-blue" ui-sref=".all">全部</li>
				    {% for key, value in cats.items %}
                    <li class="blue" ui-sref-active="type-active-blue" ui-sref=".{{ key }}">{{ value }}</li>
                    {% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>