<div class="hidden-xs hidden-sm" style="background-color: #CBE9FA;color: #333;padding:40px 0;">
    <div class="container">
        <div class="row" style="height: 100px;">
            <div class="col-md-10">
                <h4>如何把灵感造出来？</h4>
                <ul class="list-unstyled footer-guide">
                    <li>
                        <img src="img/idea-step-01.png" alt="">
                        <a href="">提交灵感</a>
                    </li>
                    <li style="padding:25px 0 0 0">
                        <span></span>
                        <span></span>
                        <span></span>
                    </li>
                    <li>
                        <img src="img/idea-step-02.png" alt="">
                        <a href="">参与设计</a>
                    </li>
                    <li style="padding:25px 0 0 0">
                        <span></span>
                        <span></span>
                        <span></span>
                    </li>
                    <li>
                        <img src="img/idea-step-03.png" alt="">
                        <a href="">灵感点赞</a>
                    </li>
                    <li style="padding:25px 0 0 0">
                        <span></span>
                        <span></span>
                        <span></span>
                    </li>
                    <li>
                        <img src="img/idea-step-04.png" alt="">
                        <a href="">监控生产</a>
                    </li>
                    <li style="padding:25px 0 0 0">
                        <span></span>
                        <span></span>
                        <span></span>
                    </li>
                    <li>
                        <img src="img/idea-step-05.png" alt="">
                        <a href="">产品问世</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-10" style="padding-left:68px">
                <h4>购买指南</h4>
                <ul class="list-unstyled footer-guide">
                    <li>
                        <img src="img/shopping-step-01.png" alt="">
                        <a href="">商品选购</a>
                    </li>
                    <li style="padding:25px 0 0 0">
                        <span></span>
                        <span></span>
                        <span></span>
                    </li>
                    <li>
                        <img src="img/shopping-step-02.png" alt="">
                        <a href="">收货信息</a>
                    </li>
                    <li style="padding:25px 0 0 0">
                        <span></span>
                        <span></span>
                        <span></span>
                    </li>
                    <li>
                        <img src="img/shopping-step-03.png" alt="">
                        <a href="">完成支付</a>
                    </li>
                    <li style="padding:25px 0 0 0">
                        <span></span>
                        <span></span>
                        <span></span>
                    </li>
                    <li>
                        <img src="img/shopping-step-04.png" alt="">
                        <a href="">快递奔波</a>
                    </li>
                    <li style="padding:25px 0 0 0">
                        <span></span>
                        <span></span>
                        <span></span>
                    </li>
                    <li>
                        <img src="img/shopping-step-05.png" alt="">
                        <a href="">收到商品</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="footer" style="background-color: #333333;padding-bottom:20px;color: #f3f3f3;">
    <div class="container" style="border-bottom:1px dashed #666">
        <div class="row" style="padding-bottom:30px;">
            <div class="col-md-2" style="padding-top: 40px;">
                <h5><b>关于</b></h5>
                <a>异想科技</a><br />
                <a>联系我们</a><br />
                <a>成功案例</a><br />
                <a>加入异想</a>
            </div>
            <div class="col-md-2" style="padding-top: 40px;">
                <h5><b>服务</b></h5>
                <a>找回密码</a><br />
                <a>常见问题</a><br />
                <a>服务协议</a><br />
                <a>隐私政策</a>
            </div>
            <div class="col-md-2" style="padding-top: 40px;">
                <h5><b>合作</b></h5>
                <a>媒体合作</a><br />
                <a>渠道合作</a><br />
                <a>友情链接</a>
            </div>
            <div class="col-md-6 col-md-offset-8" style="padding-top: 40px;">
                <div style="padding-bottom:10px">
                    <a class="btn">
                        <img class="img-circle img-responsive"  src="img/shara-qq.png" style="width: 40px;height: 40px;"/>
                    </a>
                    <a class="btn">
                        <img class="img-circle img-responsive"  src="img/shara-sina.png" style="width: 40px;height: 40px;"/>
                    </a>
                    <a class="btn">
                        <img class="img-circle img-responsive"  src="img/shara-cha.png" style="width: 40px;height: 40px;"/>
                    </a>
                </div>
                <ul>
                    <li style="padding-bottom:10px">yeexiang@sever.com</li>
                    <li><span>0755-2673558</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>10:00-19:00(周一至周五)</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container text-center" style="padding-top:20px;">
        <span>Copyright©2014 深圳市异想创意科技有限公司</span>
    </div>
</div>
