<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h3><b>关于XXX</b></h3>
            <h4>关于我们</h4>
            <h4>联系我们</h4>
            <h4>成功案例</h4>
            <h4>加入我们</h4>
        </div>
        <div class="col-md-3">
            <h3><b>服务</b></h3>
            <h4>创意征集</h4>
            <h4>新品试用</h4>
            <h4>投票规则</h4>
        </div>
        <div class="col-md-3">
            <h3><b>帮助中心</b></h3>
            <h4>如何工作</h4>
            <h4>售后工作</h4>
            <h4>常见问题</h4>
            <h4>服务条款</h4>
        </div>
        <div class="col-md-3">
            <h3><b>关注我们</b></h3>
            <p>
                <a class="btn">
                    <img class="img-rounded img-responsive"  src="../legacy/img/avatar_default_small.jpg"/>
                </a>
                <a class="btn">
                    <img class="img-rounded img-responsive"  src="../legacy/img/avatar_default_small.jpg"/>
                </a>
                <a class="btn">
                    <img class="img-rounded img-responsive"  src="../legacy/img/avatar_default_small.jpg"/>
                </a>
            </p>
        </div>
    </div>
</div>