<!--轮播图区域开始-->
<div class="container-fluid">
	<div ui-view="carousel"></div>
</div>
<!--轮播图区域结束-->

<div ui-view="idea-type"></div>
<br />
<div class="container">
	<div class="row">
		<div ui-view="idea-list"></div>
	</div>
</div>
<!--<div class="container">
	<div class="row">
		<div class="col-md-12" style="height: 50px;">
			<h3 style="margin-top: 0;">成功项目</h3>
		</div>
	</div>
</div>-->
<div class="container">
	<div class="row">
		<div ui-view="idea-list"></div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-2">
			<h3 style="margin-top: 0;">合作机构</h3>
		</div>
		<div class="col-md-10" style="height: 30px;padding-left: 0;overflow: hidden;">
			<span class="glyphicon glyphicon-chevron-left" style="padding-right: 20px;"></span>
			<a href="#"><img src="/img/01-233.jpg" alt="" style="width: 80px;height: 30px;margin-right: 10px;" /></a>
			<a href="#"><img src="/img/01-233.jpg" alt="" style="width: 80px;height: 30px;margin-right: 10px;" /></a>
			<a href="#"><img src="/img/01-233.jpg" alt="" style="width: 80px;height: 30px;margin-right: 10px;" /></a>
			<a href="#"><img src="/img/01-233.jpg" alt="" style="width: 80px;height: 30px;margin-right: 10px;" /></a>
			<a href="#"><img src="/img/01-233.jpg" alt="" style="width: 80px;height: 30px;margin-right: 10px;" /></a>
			<a href="#"><img src="/img/01-233.jpg" alt="" style="width: 80px;height: 30px;margin-right: 10px;" /></a>
			<a href="#"><img src="/img/01-233.jpg" alt="" style="width: 80px;height: 30px;margin-right: 10px;" /></a>
			<a href="#"><img src="/img/01-233.jpg" alt="" style="width: 80px;height: 30px;margin-right: 10px;" /></a>
			<a href="#"><img src="/img/01-233.jpg" alt="" style="width: 80px;height: 30px;margin-right: 10px;" /></a>
			<!--<a href="#"><img src="/img/01-233.jpg" alt="" style="width: 80px;height: 30px;margin-right: 10px;" /></a>-->
			<!--<a href="#"><img src="/img/01-233.jpg" alt="" style="width: 80px;height: 30px;margin-right: 10px;" /></a>-->
			<span class="glyphicon glyphicon-chevron-right" style="padding-left: 20px;"></span>
		</div>
	</div>
</div>
<br />
<div class="footer" style="background-color: #333333;color: #f3f3f3;">
	<div class="container">
		<div class="row" style="height: 200px;">
			<div ui-view="footer"></div>
		</div>
	</div>
</div>