<div class="container" style="padding: 80px 0;">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <p class="text-center">
                    <img src="../img/01-233.jpg" width="80px" height="80px" />
                </p>
            </div>
            <div class="panel-body">
                <p class="text-center pad-bottom-1em">
                    <span style="font-size: 1.5em;">
                        <strong>登录异想</strong>
                    </span>
                </p>
                <div style="padding-left: 2%; padding-right: 2%; padding-bottom: 10%;">
                    <a class="btn btn-default well-font-size" style="float: left; width: 45%; text-align: center;">
                        用微博账号登录
                    </a>
                    <a class="btn btn-default well-font-size" style="float: right; width: 45%; text-align: center;">
                        用QQ账号登录
                    </a>
                </div>
                <div class="form-group">
                    <input class="form-control" placeholder="注册账号" name="username" type="text" />
                </div>
                <div class="form-group">
                    <input class="form-control" placeholder="密码" name="password" type="password" />
                </div>
                <div style="clear: both;">
                    <div style="display: inline-block">
                        <label>
                            <input name="remember"
                                   type="checkbox" value="Remember Me"> 自动登录
                        </label>
                    </div>
                    <div style="float: right">
                        <a href="#">忘记密码？</a>
                    </div>
                </div>
                <br />
                <input class="btn btn-lg btn-success btn-block" type="submit" value="登录">
                <br />
                <div class="col-md-6 col-md-offset-3">
			        <p class="text-center">没有太火鸟账号？
			            <a href="#">立即注册</a>
			        </p>
    			</div>
            </div>
        </div>
    </div>
</div>
<!--页脚区域开始-->
<div class="footer hidden-xs">
	<div ui-view="footer"></div>
</div>
<!--页脚区域结束-->