<br />
<div class="container">
	<div ui-view="product-detail-header">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="row">
					<div class="col-md-6">
						<a href="#">
							<img class="img-responsive" src="../img/watch-detail.jpg" style="width: 100%;" alt="" />
						</a>
					</div>
					<div class="col-md-6">
						<h3>GYENNO One智能运动防水手表-黑色</h3>
						<h4 style="color: red;">&yen;998</h4>
						<hr />
						<ul class="list-group list-inline">
							<li class="list-group-item">
								<a href="#">
									<img class="img-responsive" src="../img/01-233.jpg" width="50px" height="50px"/>
								</a>
							</li>
							<li class="list-group-item">
								<a href="#">
									<img class="img-responsive" src="../img/01-233.jpg" width="50px" height="50px"/>
								</a>
							</li>
						</ul>
						<p>好评指数：<i class="glyphicon glyphicon-star"></i></p>
						<a class="btn btn-danger btn-lg" href="http://vimi168.taobao.com/dc.htm?spm=5726.1406519.1998212869.13.jpHs7X&v=1" target="_blank">立即购买</a>
						<a class="btn btn-success btn-lg" href="#">找人送我</a>
						<h4 class="page-header">产品简介：</h4>
						<p>设计上极其简约、全防水、无线充电、卡扣佩戴方式。功能上会自动识别运动种类（散步、快走、跑步等）、检测睡眠质量、智能闹钟和智能唤醒。还可以当做智能手表来接收电话、短信、日程的提醒</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div ui-view="product-detail-body">
		<div class="panel panel-default">
			<div class="panel-body">
				<ul class="nav nav-tabs">
					<li class="active">
						<a href="#">商品详情</a>
					</li>
					<li>
						<a href="#">商品评价<span>(226)</span></a>
					</li>
					<li>
						<a href="#">成交记录<span>(248)</span></a>
					</li>
					<li>
						<a href="#">咨询提问</a>
					</li>
				</ul>
				<ul class="list-unstyled">
					<br />
					<li>
						<img class="img-responsive" src="../img/watch_01.jpg" width="100%" alt="" />
					</li>
					<li>
						<img class="img-responsive" src="../img/watch_02.jpg" width="100%" alt="" />
					</li>
					<li>
						<img class="img-responsive" src="../img/watch_03.jpg" width="100%" alt="" />
					</li>
					<li>
						<img class="img-responsive" src="../img/watch_04.jpg" width="100%" alt="" />
					</li>
					<li>
						<img class="img-responsive" src="../img/watch_05.jpg" width="100%" alt="" />
					</li>
					<li>
						<img class="img-responsive" src="../img/watch_09.jpg" width="100%" alt="" />
					</li>
					<li>
						<img class="img-responsive" src="../img/watch_10.jpg" width="100%" alt="" />
					</li>
				</ul>
				
				<h4>成交记录<a href="#">(248)</a></h4>
				<table class="table table-responsive">
					<thead>
						<tr>
							<th>买家</th>
							<th>购买数量(件)</th>
							<th>成交时间</th>
							<th>款式和型号</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<a class="pull-left" href="#">
									<img class="img-circle img-responsive" src="../img/01-233.jpg" width="40px" height="40px" alt="" />
								</a>
								<p class="pull-left" style="padding-left: 20px;line-height: 30px;">火龙果</p>
							</td>
							<td>1</td>
							<td>2014-11-05</td>
							<td>XS纪念版</td>
						</tr>
						<tr>
							<td>
								<a class="pull-left" href="#">
									<img class="img-circle img-responsive" src="../img/01-233.jpg" width="40px" height="40px" alt="" />
								</a>
								<p class="pull-left" style="padding-left: 20px;line-height: 30px;">火龙果</p>
							</td>
							<td>1</td>
							<td>2014-11-05</td>
							<td>XS纪念版</td>
						</tr>
						<tr>
							<td>
								<a class="pull-left" href="#">
									<img class="img-circle img-responsive" src="../img/01-233.jpg" width="40px" height="40px" alt="" />
								</a>
								<p class="pull-left" style="padding-left: 20px;line-height: 30px;">火龙果</p>
							</td>
							<td>1</td>
							<td>2014-11-05</td>
							<td>XS纪念版</td>
						</tr>
					</tbody>
				</table>
				
				<h4 class="page-header">购买评论<a href="#">(226)</a></h4>
				<table class="table table-responsive">
					<tbody>
						<tr>
							<td style="width: 5%;border: 0;">
								<a href="#">
									<img class="img-circle img-responsive" src="../img/03-233.jpg" width="40px" height="40px" alt="" />
								</a>
							</td>
							<td style="width: 95%;border: 0;">
								<a href="#">蜡笔小新</a>
								<br />
								<span>大爱的一款毛衣，好可爱的荷叶恶化复古怀旧复古的萨芬就换个方法就是大陆还是独立功放坏了速度下摆和袖口，三色入，色织毛衣，浅浅的彩色，非常好看，料子和手感很好，上身效果超级赞的，高腰效</span>
							</td>
						</tr>
						<tr>
							<td style="width: 5%;border: 0;">
								<a href="#">
									<img class="img-circle img-responsive" src="../img/03-233.jpg" width="40px" height="40px" alt="" />
								</a>
							</td>
							<td style="width: 95%;border: 0;">
								<a href="#">蜡笔小新</a>
								<br />
								<span>大爱的一款毛衣三色入，色织毛衣，浅浅的彩色，非常好看，料子和手感很好，上身效果超级赞的，高腰效</span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div ui-view="product-detail-footer">
		
	</div>
</div>