<div class="row">
	<div class="col-md-15">
		分类：
		<a href="#">全部</a>
		<a href="#">卫浴用品</a>
		<a href="#">吃货神器</a>
		<a href="#">灯光照明</a>
		<a href="#">伞</a>
	</div>
</div>
<br />
<div class="row">
	<div class="col-md-2">
		排序：
		<a href="#">热销</a>
		<a href="#">最新</a>
		<a href="#">最热</a>	
	</div>
	<div class="col-md-10">
		价格：
		<div class="btn-group">
			<button class="btn btn-default btn-xs" type="button">全部</button>
			<button class="btn btn-default btn-xs" type="button">0-100</button>
			<button class="btn btn-default btn-xs" type="button">101-200</button>
			<button class="btn btn-default btn-xs" type="button">201-300</button>
			<button class="btn btn-default btn-xs" type="button">301-400</button>
			<button class="btn btn-default btn-xs" type="button">401-500</button>
			<button class="btn btn-default btn-xs" type="button">500以上</button>
		</div>
	</div>
</div>
<hr />