<div>
	<form role="form" ng-submit="putComments(comenmts)">
	  <div class="form-group">
	    <label for="name">评论</label>
	    <textarea class="form-control" rows="3" ng-model="comenmts"></textarea>

	  </div>
	  <div class="form-group text-right">
	       <button class="btn btn-success" type="submit">提交</button>
	  </div>
	</form>
</div>

<!--一个人的评论开始-->
<div class="media" style="border-bottom: 1px dashed #ccc;padding-bottom: 5px;" ng-repeat="c in comm.posts">
	<a class="pull-left" href="">
		<img class="media-object img-circle img-responsive" src="/img/01-233.jpg" alt="头像" width="40px" height="40px">
	</a>
	<div class="media-body">
		<a href=""><h4 class="media-heading">{[c.name]}</h4></a>
		<div>{[c.body]}</div>
		<div>{[c.created]}</div>
	</div>
</div>
<!--一个人的评论结束-->
