<!--轮播图区域开始-->
<div class="container-fluid">
	<div ui-view="carousel"></div>
</div>
<!--轮播图区域结束-->

<!--分类导航栏开始-->
<div style="width: 100%;padding: 10px 0; border-bottom: 1px solid #ccc;">
	<div class="container">
		<div class="row">
			<div class="col-md-20">
				<ul class="nav nav-pills shop-type">
				    <li ui-sref-active="active" ui-sref=".all"><a href="">全部</a></li>
				    <li ui-sref-active="active" ui-sref=".one"><a href="">异想家</a></li>
				 	<li ui-sref-active="active" ui-sref=".two"><a href="">办公文具</a></li>
				 	<li ui-sref-active="active" ui-sref=".three"><a href="">玩具娱乐</a></li>
				 	<li ui-sref-active="active" ui-sref=".four"><a href="">生活改良</a></li>
				 	<li ui-sref-active="active" ui-sref=".five"><a href="">数码科技</a></li>
				 	<li ui-sref-active="active" ui-sref=".six"><a href="">个性装备</a></li>
				 	<li ui-sref-active="active" ui-sref=".seven"><a href="">户外运动</a></li>
				 	<li ui-sref-active="active" ui-sref=".eight"><a href="">美化装饰</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!--分类导航栏结束-->
<br />

<div>
	<div ui-view>
		<div class="container">
			<div class="row" style="border-bottom: 1px solid #ccc;">
				<div class="col-md-18">
					<h3>最新商品<small style="color: red;">&nbsp;(New)</small></h3>
				</div>
				<div class="col-md-2" style="padding-top: 24px;">
					<a class="pull-right" ui-sref=".product-new" ng-click="getShopLatest()"><span class="badge">More</span>>>></a>
				</div>
			</div>
		</div>
		
		<!--产品展示区域开始-->
		<div class="container">
			<div class="row">
				<div ui-view="product-list">这用于最新产品列表展示</div>
			</div>
		</div>
		<!--产品展示区域结束-->
		
		<div class="container">
			<div class="row" style="border-bottom: 1px solid #ccc;padding-top: 50px;">
				<div class="col-md-18">
					<h3>最热商品<small style="color: red;">&nbsp;(Hot)</small></h3>
				</div>
				<div class="col-md-2" style="padding-top: 24px;">
					<a class="pull-right" ui-sref=".product-hot" ng-click="getShopHot()"><span class="badge">More</span>>>></a>
				</div>
			</div>
		</div>
		
		<!--产品展示区域开始-->
		<div class="container">
			<div class="row">
				<div ui-view="product-list">这用于最热产品列表展示</div>
			</div>
		</div>
		<!--产品展示区域结束-->
	</div>
</div>
<!--页脚区域开始-->
<div class="footer hidden-sm hidden-xs" style="background-color: #333333;color: #f3f3f3;">
	<div class="container">
		<div class="row" style="height: 200px;">
			<div ui-view="footer"></div>
		</div>
	</div>
</div>
<!--页脚区域结束-->
<!--移动端底部菜单开始-->
<nav class="navbar navbar-fixed-bottom visible-xs" style="background: #F8F8F8;">
	<ul class="nav">
		<li class="col-xs-4 text-center">
			<a href="" class="bar-active"><span class="glyphicon glyphicon-home"></span><br>首页</a>
		</li>
		<li class="col-xs-4 text-center">
			<a href=""><span class="glyphicon glyphicon-pencil"></span><br>发起</a>
		</li>
		<li class="col-xs-4 text-center">
			<a href=""><span class="glyphicon glyphicon-tasks"></span><br>项目</a>
		</li>
		<li class="col-xs-4 text-center">
			<a href="" class="bar-create"><span class="glyphicon glyphicon-comment"></span><br>消息</a>
		</li>
		<li class="col-xs-4 text-center">
			<a href=""><span class="glyphicon glyphicon-user"></span><br>我的</a>
		</li>
	</ul>
</nav>
<!--移动端底部菜单结束-->
