<div class="row">
    <div class="col-md-6 col-md-offset-1">
        <p class="text-center">
            <span style="font-size: 3em;">
                1
            </span>
        </p>
        <p class="text-center">
            <span style="font-size: 1.2em;">
                基本信息
            </span>
        </p>
    </div>
    <div class="col-md-6">
        <p class="text-center front-color-lightgray">
            <span style="font-size: 3em;">
                2
            </span>
        </p>
        <p class="text-center front-color-lightgray">
            <span style="font-size: 1.2em;">
                填写详细内容
            </span>
        </p>
    </div>
    <div class="col-md-6">
        <p class="text-center front-color-lightgray">
            <span style="font-size: 3em;">
                3
            </span>
        </p>
        <p class="text-center front-color-lightgray">
            <span style="font-size: 1.2em;">
                上传图片&视频
            </span>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-20">
        <p>
            <span class="font-size-2em">
                上传图片&视频
            </span>
            <a><i class="glyphicon glyphicon-question-sign"></i></a>
        </p>
    </div>

    <div class="row">
        <div class="col-md-20">
            <div class="panel panel-default">
                <div class="panel-body">
                    <!-- 多图片上传开始 -->
                    <form id="fileupload" action="//jquery-file-upload.appspot.com/" method="POST" enctype="multipart/form-data" ng-controller="DemoFileUploadController" data-file-upload="options" data-ng-class="{'fileupload-processing': processing() || loadingFiles}">
                        <!-- Redirect browsers with JavaScript disabled to the origin page -->
                        <noscript><input type="hidden" name="redirect" value="https://blueimp.github.io/jQuery-File-Upload/"></noscript>
                        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                        <div class="row fileupload-buttonbar">
                            <div class="col-lg-7">
                                <!-- The fileinput-button span is used to style the file input field as button -->
                                <span class="btn btn-success fileinput-button" ng-class="{disabled: disabled}">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>选择图片</span>
                                    <input type="file" name="file" multiple ng-disabled="disabled">
                                </span>
                                <button type="button" class="btn btn-primary start" data-ng-click="submit()">
                                    <i class="glyphicon glyphicon-upload"></i>
                                    <span>开始上传</span>
                                </button>
                                <button type="button" class="btn btn-warning cancel" data-ng-click="cancel()">
                                    <i class="glyphicon glyphicon-ban-circle"></i>
                                    <span>取消上传</span>
                                </button>
                                <!-- The global file processing state -->
                                <span class="fileupload-process"></span>
                            </div>
                            <!-- The global progress state -->
                            <div class="col-lg-5 fade" data-ng-class="{in: active()}">
                                <!-- The global progress bar -->
                                <div class="progress progress-striped active" data-file-upload-progress="progress()"><div class="progress-bar progress-bar-success" data-ng-style="{width: num + '%'}"></div></div>
                                <!-- The extended global progress state -->
                                <div class="progress-extended">&nbsp;</div>
                            </div>
                        </div>
                        <!-- The table listing the files available for upload/download -->
                        <table class="table table-striped files ng-cloak">
                            <tr data-ng-repeat="file in queue" data-ng-class="{'processing': file.$processing()}">
                                <td data-ng-switch data-on="!!file.thumbnailUrl">
                                    <div class="preview" data-ng-switch-when="true">
                                        <a data-ng-href="{[file.url]}" title="{[file.name]}" download="{[file.name]}" data-gallery>
                                            <img data-ng-src="{[file.url]}" style="width:80px;height:80px">
                                        </a>
                                    </div>
                                    <div class="preview" data-ng-switch-default data-file-upload-preview="file"></div>
                                    <input type="hidden" ng-model="idea.imgUrl" ng-value="idea.imgUrl{[$index]}=file.url">
                                </td>
                                <td>
                                    <p class="name" data-ng-switch data-on="!!file.url">
                                        <span data-ng-switch-when="true" data-ng-switch data-on="!!file.thumbnailUrl">
                                            <a data-ng-switch-when="true" data-ng-href="{[file.url]}" title="{[file.name]}" download="{[file.name]}" data-gallery>
                                                {[file.name]}
                                            </a>
                                            <a data-ng-switch-default data-ng-href="{[file.url]}" title="{[file.name]}" download="{[file.name]}">
                                                {[file.name]}
                                            </a>
                                        </span>
                                        <span data-ng-switch-default>{[file.name]}</span>
                                    </p>
                                    <strong data-ng-show="file.error" class="error text-danger">{[file.error]}</strong>
                                </td>
                                <td>
                                    <p class="size">{[file.size | formatFileSize]}</p>
                                    <div class="progress progress-striped active fade" data-ng-class="{pending: 'in'}[file.$state()]" data-file-upload-progress="file.$progress()"><div class="progress-bar progress-bar-success" data-ng-style="{width: num + '%'}"></div></div>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary start" data-ng-click="file.$submit()" data-ng-hide="!file.$submit || options.autoUpload" data-ng-disabled="file.$state() == 'pending' || file.$state() == 'rejected'">
                                        <i class="glyphicon glyphicon-upload"></i>
                                        <span>开始</span>
                                    </button>
                                    <button type="button" class="btn btn-warning cancel" data-ng-click="file.$cancel()" data-ng-hide="!file.$cancel">
                                        <i class="glyphicon glyphicon-ban-circle"></i>
                                        <span>取消</span>
                                    </button>
                                    <button data-ng-controller="FileDestroyController" type="button" class="btn btn-danger destroy" data-ng-click="file.$destroy()" data-ng-hide="!file.$destroy">
                                        <i class="glyphicon glyphicon-trash"></i>
                                        <span>删除</span>
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </form>
                    <!-- 多图片上传结束 -->
                    <div class="form-group">
                        <p>
                            <span class="font-size-1_2em">视频链接</span>
                        </p>
                        <input class="form-control" ng-model="idea.video" placeholder="http://" />
                    </div>
                    <br />
                    <p>
                        <span class="pull-left">
                            <a ui-sref="submit-fever-center.step2" class="btn btn-default" href="">上一步</a>
                        </span>
                        <span class="pull-right">
                            <button class="btn btn-success" type="submit">完成</button>
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
</script>

