<div class="" style="width:100%">
	<div class="">
		<img class="img-responsive" src="img/bg.jpg" width="100%">
		<div class="carousel-caption">
			<button ui-sref=".step1" class="btn btn-default btn-lg" type="button">发起我的创意</button>
			<h2>创意总是不经意De来临，迫不及待发起你的创意吧!异想天开创意，或许眨眼间便成了现实。</h2>
		</div>
	</div>
</div>

<div style="background-color: #f8f8f8;width: 100%;padding-top: 100px;">
	<div class="container">
		<form id="submit-idea-form" role="from" name="ideaForm" ng-controller="submitIdeaController" ng-submit="submitIdea(idea)">
			<div id="submit-idea-views" ui-view>
				<div ui-view="submit-fever-course"></div>
			</div>
		</form>
	</div>
</div>

<div ui-view="footer"></div>

