<div class="row">
	<div class="col-md-4">
        <p class="text-center">
            <span style="font-size: 3em;">
                1
            </span>
        </p>
        <p class="text-center">
            <span style="font-size: 1.2em;">
                基本信息
            </span>
        </p>
    </div>
    <div class="col-md-4">
        <p class="text-center front-color-lightgray">
            <span style="font-size: 3em;">
                2
            </span>
        </p>
        <p class="text-center front-color-lightgray">
            <span style="font-size: 1.2em;">
                填写详细内容
            </span>
        </p>
    </div>
    <div class="col-md-4">
        <p class="text-center front-color-lightgray">
            <span style="font-size: 3em;">
                3
            </span>
        </p>
        <p class="text-center front-color-lightgray">
            <span style="font-size: 1.2em;">
                上传图片&视频
            </span>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p>
            <span class="font-size-2em">
                上传图片&视频
            </span>
            <a><i class="glyphicon glyphicon-question-sign"></i></a>
        </p>
    </div>
    
    <!-- -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>
                        <span class="font-size-1_2em">
                            上传图片
                        </span>
                    </p>
                    <form action="" method="post">
						<input type="file" name="file_upload" id="file_upload" multiple=""/>
					</form>
                    <!--<p onclick="uploadFile();">
                        <a class="btn btn-danger">
                            <i class="glyphicon glyphicon-upload"></i> | 选择图片
                        </a>
                        <input type="file" multiple style="position: absolute; right: 0px; top: 0px; font-family: Arial; font-size: 118px; margin: 0px; padding: 0px; cursor: pointer; opacity: 0;" />
                    </p>-->
                    <br />
                    <p>
                        <span class="font-size-1_2em">视频链接</span>
                    </p>
                    <div class="form-group">
                        <input class="form-control" placeholder="http://" />
                    </div>
                    <br />
                    <p>
                        <span class="pull-left">
                            <a ui-sref="submit-idea-center.submit-idea-step2" class="btn btn-default" href="">上一步</a>
                        </span>
                        <span class="pull-right">
                            <a class="btn btn-default" ng-click="" href="">完成</a>
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>