<div class="row">
	<div class="col-md-12">
		<ul class="breadcrumb">
			<li class="dropdown active">
				<a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void()">
		         	生活改良
		        	<span class="caret"></span>
		    	</a>
				<ul class="dropdown-menu">
					<li>
						<a href="#">卫浴用品</a>
					</li>
					<li>
						<a href="#">吃货神奇</a>
					</li>
					<li>
						<a href="#">灯光照明</a>
					</li>
					<li>
						<a href="#">伞</a>
					</li>
				</ul>
			</li>
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void()">
		         	办公文具
		        	<span class="caret"></span>
		    	</a>
				<ul class="dropdown-menu">
					<li>
						<a href="#">办公收纳</a>
					</li>
					<li>
						<a href="#">笔记本</a>
					</li>
					<li>
						<a href="#">文件夹</a>
					</li>
					<li>
						<a href="#">信笺纸</a>
					</li>
				</ul>
			</li>
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void()">
		         	美化装饰
		        	<span class="caret"></span>
		    	</a>
				<ul class="dropdown-menu">
					<li>
						<a href="#">天使</a>
					</li>
					<li>
						<a href="#">挂饰</a>
					</li>
					<li>
						<a href="#">花瓶</a>
					</li>
					<li>
						<a href="#">梳妆台</a>
					</li>
				</ul>
			</li>
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void()">
		         	个性装备
		        	<span class="caret"></span>
		    	</a>
				<ul class="dropdown-menu">
					<li>
						<a href="#">饰品</a>
					</li>
					<li>
						<a href="#">手表</a>
					</li>
					<li>
						<a href="#">服装</a>
					</li>
					<li>
						<a href="#">袜子</a>
					</li>
				</ul>
			</li>
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void()">
		         	数码科技
		        	<span class="caret"></span>
		    	</a>
				<ul class="dropdown-menu">
					<li>
						<a href="#">智能手环</a>
					</li>
					<li>
						<a href="#">智能手表</a>
					</li>
					<li>
						<a href="#">智能闹钟</a>
					</li>
					<li>
						<a href="#">HIFI耳机</a>
					</li>
				</ul>
			</li>
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void()">
		         	玩具娱乐
		        	<span class="caret"></span>
		    	</a>
				<ul class="dropdown-menu">
					<li>
						<a href="#">布娃娃</a>
					</li>
					<li>
						<a href="#">遥控灰机</a>
					</li>
					<li>
						<a href="#">乌龟风筝</a>
					</li>
					<li>
						<a href="#">衮雪球球</a>
					</li>
				</ul>
			</li>
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void()">
		         	户外旅行
		        	<span class="caret"></span>
		    	</a>
				<ul class="dropdown-menu">
					<li>
						<a href="#">山地自行车</a>
					</li>
					<li>
						<a href="#">户外眼睛</a>
					</li>
					<li>
						<a href="#">越野跑鞋</a>
					</li>
					<li>
						<a href="#">旅行背包</a>
					</li>
				</ul>
			</li>
			<li class="dropdown">
				<a href="javascript:void()" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="false">
					<span class="glyphicon glyphicon-user"></span>
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><a ui-sref="user-center">个人中心</a></li>
					<li class="divider"></li>
					<li><a ui-sref="user-setting-center.setting">账户设置</a></li>
					<li class="divider"></li>
					<li><a ui-sref="user-setting-center.info">查看个人资料</a></li>
					<li class="divider"></li>
					<li><a ui-sref="user-setting-center.order">我的订单</a></li>
					<li class="divider"></li>
					<li><a ui-sref="">帮助</a></li>
					<li class="divider"></li>
					<li><a ui-sref="">退出</a></li>
				</ul>                    	
			</li>
		</ul>
	</div>
</div>
