<h2>安全设置</h2>
<div class="panel panel-default">
	<div class="panel-body">
		<form role="form" ng-controller="personalController" ng-submit="modifyAuth(user)" >
            <h3 class="page-header">用户{[ currentUser.username ]}</h3>
			<h3 class="page-header">修改密码</h3>
			<div class="row">
				<div class="col-md-10">
					<div class="form-group">
						<label for="" style="font-weight: 400;">当前密码</label>
						<input class="form-control" type="password" placeholder="" ng-model="user.password0" />
					</div>
				</div>
			</div>
			<br />
			<div class="row">
				<div class="col-md-10">
					<div class="form-group">
						<label for="" style="font-weight: 400;">修改密码</label>
						<input class="form-control" type="password" placeholder="" ng-model="user.password" />									
					</div>
				</div>
				<div class="col-md-10">
					<div class="form-group">
						<label for="" style="font-weight: 400;">确认密码</label>
						<input class="form-control" type="password" placeholder="" ng-model="user.passwordRepeat"/>									
					</div>
				</div>
			</div>
			<br />
			<div class="row">
				<div class="col-md-20">
					<button class="btn btn-success" type="submit">确认修改</button>
				</div>
			</div>
		</form>
	</div>
</div>
