<div class="container">
	<div class="row">
		<div class="col-md-3" style="padding-top: 20px;">
			<div class="list-group" id="user-center-menu">
				<a ui-sref="user-setting-form" class="list-group-item active">账户设置<i class="glyphicon glyphicon-cog pull-right"></i></a>
				<a ui-sref="user-info-form" class="list-group-item">个人资料<i class="glyphicon glyphicon-user pull-right"></i></a>
				<a ui-sref="user-address-form" class="list-group-item">收货地址<i class="glyphicon glyphicon-map-marker pull-right"></i></a>
				<a ui-sref="user-order-form" class="list-group-item">我的订单<i class="glyphicon glyphicon-shopping-cart pull-right"></i></a>
				<a ui-sref="user-coupon-form" class="list-group-item">我的红包<i class="glyphicon glyphicon-gift pull-right"></i></a>
				<a ui-sref="user-service-form" class="list-group-item">售后服务<i class="glyphicon glyphicon-phone-alt pull-right"></i></a>
			</div>
		</div>
		<div class="col-md-9">
			<div ui-view="user-setting-form"></div>
		</div>
	</div>
</div>