<h2>设置个人资料</h2>
<div class="panel panel-default">
	<div class="panel-body">
		<h3 class="page-header">设置头像</h3>
		<form action="#" role="form">
			<div class="row">
				<div class="col-md-2">
					<div class="form-group">
						<a href="#">
							<img class="img-responsive img-circle" src="img/avatar_default_small.jpg" alt="头像" />
						</a>
					</div>
				</div>
				<div class="col-md-7">
					<div class="form-group cropHeaderWrapper">
						<p>设置一个宽度大于400px、小于3M的JPG头像，让小伙伴们迅速认识你.</p>
						<span class="btn" id="cropContainerHeaderButton">选择图片</span>
						<div id="croppic"></div>
					</div>
				</div>
			</div>
		</form>
		<h3 class="page-header">详细资料</h3>
		<form action="#" role="form">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="">姓名：</label>
						<input class="form-control" type="text" placeholder="请输入姓名" />
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="">性别：</label>
						<select class="form-control">
							<option value="">男</option>
							<option value="">女</option>
						</select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="">职业：</label>
						<input class="form-control" type="text" placeholder="请输入职业" />
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="">城市：</label>
						<input class="form-control" type="text" placeholder="请输入城市" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="">邮箱：</label>
						<input class="form-control" type="text" placeholder="请输入邮箱" />
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="">手机：</label>
						<input class="form-control" type="text" placeholder="请输入手机号码" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label for="">地址：</label>
						<input class="form-control" type="text" placeholder="请输入地址" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label for="">我的亮点：</label>
						<textarea class="form-control" rows="2" placeholder="请输入地址" ></textarea>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label for="">个人简介：</label>
						<textarea class="form-control" rows="6" placeholder="请输入地址" ></textarea>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-md-offset-4 text-center">
					<button class="btn btn-success">确认提交</button>
				</div>
			</div>
		</form>
	</div>
</div>
<script>
	//头像上传截图
	var croppicHeaderOptions = {
				uploadUrl:'img_save_to_file.php',
				cropData:{
					"dummyData":1,
					"dummyData2":"asdas"
				},
				cropUrl:'img_crop_to_file.php',
				customUploadButtonId:'cropContainerHeaderButton',
				modal:false,
				loaderHtml:'<div class="loader bubblingG"><span id="bubblingG_1"></span><span id="bubblingG_2"></span><span id="bubblingG_3"></span></div> ',
				onBeforeImgUpload: function(){ console.log('onBeforeImgUpload') },
				onAfterImgUpload: function(){ console.log('onAfterImgUpload') },
				onImgDrag: function(){ console.log('onImgDrag') },
				onImgZoom: function(){ console.log('onImgZoom') },
				onBeforeImgCrop: function(){ console.log('onBeforeImgCrop') },
				onAfterImgCrop:function(){ console.log('onAfterImgCrop') }
		}	
	var cropperHeader = new Croppic('croppic', croppicHeaderOptions);
</script>