{% extends 'sites/base.html' %}
{% block title %}
商品
{% endblock %}
{% block content %}
    <div id="main-content">
        <!-- -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ol class="breadcrumb">
                        <li><a href="/">首页</a></li>
                        <li><a href="/fever/">创意投票</a></li>
                        <li><a href="javascript:void(0);">数码电子</a></li>
                        <li class="active">易行云-车载桌面两用音响</li>
                    </ol>
                </div>
            </div>
        </div>

        <!-- -->
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img class="img-responsive" src="/img/fever-one-1.jpg">
                </div>
                <div class="col-md-6">
                    <h3><b>易行云-车载桌面两用音响</b></h3>
                    <h5>绿米桑</h5>
                    <hr />
                    <p>剩余时间： 00 天 00 时 00 分 00 秒</p>
                    <p>
                        <a class="btn btn-default" role="button">Up</a>
                        <a class="btn btn-default" role="button">Down</a>
                    </p>
                    <hr />
                    <p>
                        <a class="btn">
                            <img class="img-circle img-responsive" src="/img/avatar_default_small.jpg"></a>
                        </a>
                        <a class="btn">
                            <img class="img-circle img-responsive" src="/img/avatar_default_small.jpg"></a>
                        </a>
                        <a class="btn">
                            <img class="img-circle img-responsive" src="/img/avatar_default_small.jpg"></a>
                        </a>
                    </p>
                    <div class="row center-block">
                        <div class="pull-left">
                            11人已投票
                        </div>
                        <div class="pull-right">
                            投票及评分规则
                        </div>
                    </div>
                    <hr />
                    <p>
                        <a class="btn btn-default" role="button">收藏</a>
                        <a class="btn btn-default" role="button">heart</a>
                        <a class="btn btn-default" role="button">share</a>
                    </p>
                </div>
            </div>
        </div>

        <!-- -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <img class="img-responsive" src="/img/fever-one-2.jpg" />
                </div>
            </div>
        </div>

        <!-- -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <img class="img-responsive" src="/img/fever-one-2.jpg" />
                </div>
            </div>
        </div>
    </div>
{% endblock %}
