<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>主页展示</title>

    <!-- Bootstrap -->
    <link href="../legacy/css/bootstrap.min.css" rel="stylesheet">

    <!-- 载入Compass处理后的css文件 -->
    <link href="../legacy/css/main.css" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you TEView the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div class="wrap">
    <!-- -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button id="collapsed-navbar" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- -->
                <a class="navbar-brand" href="javascript:void(0);">
                    <img alt="Brand" src="" />
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="" id="btn-home"><a href="javascript:void(0);">主页</a></li>
                    <li class="" id="btn-pre-sale"><a href="javascript:void(0);">预售</a></li>
                    <li class="" id="btn-shop">
                        <a href="javascript:void(0);">
                            <i class="glyphicon glyphicon-shopping-cart"></i>商店
                        </a>
                    </li>
                    <li class="" id="btn-vote"><a href="javascript:void(0);">投票</a></li>
                    <li class="" id="btn-bbs"><a href="javascript:void(0);">社区</a></li>
                </ul>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li class="" id="btn-login"><a href="javascript:void(0);">登录</a></li>
                    <li class="" id="btn-register"><a href="javascript:void(0);">注册</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>
    <div id="main-content">

        <!-- -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ol class="breadcrumb">
                        <li><a href="javascript:void(0);">首页</a></li>
                        <li><a href="javascript:void(0);">商店</a></li>
                        <li><a href="javascript:void(0);">智能家居</a></li>
                        <li class="active">智能防丢贴片蓝牙追踪器寻物器钱包防丢卡nut f3追踪定位器</li>
                    </ol>
                </div>
            </div>
        </div>

        <!-- -->
        <div class="container pad-bottom-1em" id="product-carousel">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="text-center">
                            <img src="../legacy/img/slider-1.jpg" alt="...">
                            <div class="carousel-caption">
                                ...
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="text-center">
                            <img src="../legacy/img/slider-2.jpg" alt="...">
                            <div class="carousel-caption">
                                ...
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="text-center">
                            <img src="../legacy/img/slider-3.jpg" alt="...">
                            <div class="carousel-caption">
                                ...
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="text-center">
                            <img src="../legacy/img/slider-4.jpg" alt="...">
                            <div class="carousel-caption">
                                ...
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="text-center">
                            <img src="../legacy/img/slider-5.jpg" alt="...">
                            <div class="carousel-caption">
                                ...
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        <!-- -->
        <div class="container">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-5">
                        <h3>智能防丢贴片蓝牙追踪器寻物器钱包防丢卡nut f3追踪定位器</h3>
                        <p>
                            XXXX
                            <i class="glyphicon glyphicon-map-marker"></i>
                            <span>广州</span>
                            <span>产品设计师</span>
                        </p>
                        <p>
                            <span>10</span>人已收藏|
                            <span>12</span>人点赞
                        </p>
                        <p>
                            <a class="btn btn-default">收藏</a>
                            <a class="btn btn-default">
                                <i class="glyphicon glyphicon-heart"></i>
                            </a>
                            <a class="btn btn-default">
                                <i class="glyphicon glyphicon-share"></i>
                            </a>
                        </p>
                    </div>
                    <div class="col-md-3 col-md-offset-4">
                        <p><h3>300</h3></p>
                        <p>预定人数</p>
                        <p><h3>￥30550</h3></p>
                        <p>完成金额</p>
                        <p>
                            <h3>
                                <span>00</span>天
                                <span>00</span>时
                                <span>00</span>分
                                <span>00</span>秒
                            </h3>
                        </p>
                        <p>剩余时间</p>
                    </div>
                </div>

                <!-- -->
                <div class="row">
                    <div class="col-md-3">
                        <!-- -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="text-center">首发包</h3>
                            </div>
                            <div class="panel-body">
                                <p class="text-center">
                                    【魔镜一台】 , 限量1000个
                                </p>
                                <hr />
                                <p class="text-center">
                                    感谢您的支持！魔镜，贴心好闺蜜，让爱不断电！恭喜您能以极其优惠的价格99元获得此产品。市场价199元，限额1000位！（有粉色，蓝色和白色，请在备注中标明颜色哦！无备注，随机发货）
                                </p>
                                <hr />
                                <p class="text-center">
                                    ￥99
                                </p>
                                <hr />
                                <p class="text-center">
                                    <a class="btn btn-danger">现在预订</a>
                                </p>
                                <p class="text-center">

                                    已有<span>???</span>位预订者
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <!-- -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="text-center">首发包</h3>
                            </div>
                            <div class="panel-body">
                                <p class="text-center">
                                    【魔镜一台】 , 限量1000个
                                </p>
                                <hr />
                                <p class="text-center">
                                    感谢您的支持！魔镜，贴心好闺蜜，让爱不断电！恭喜您能以极其优惠的价格99元获得此产品。市场价199元，限额1000位！（有粉色，蓝色和白色，请在备注中标明颜色哦！无备注，随机发货）
                                </p>
                                <hr />
                                <p class="text-center">
                                    ￥99
                                </p>
                                <hr />
                                <p class="text-center">
                                    <a class="btn btn-danger">现在预订</a>
                                </p>
                                <p class="text-center">

                                    已有<span>???</span>位预订者
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <!-- -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="text-center">首发包</h3>
                            </div>
                            <div class="panel-body">
                                <p class="text-center">
                                    【魔镜一台】 , 限量1000个
                                </p>
                                <hr />
                                <p class="text-center">
                                    感谢您的支持！魔镜，贴心好闺蜜，让爱不断电！恭喜您能以极其优惠的价格99元获得此产品。市场价199元，限额1000位！（有粉色，蓝色和白色，请在备注中标明颜色哦！无备注，随机发货）
                                </p>
                                <hr />
                                <p class="text-center">
                                    ￥99
                                </p>
                                <hr />
                                <p class="text-center">
                                    <a class="btn btn-danger">现在预订</a>
                                </p>
                                <p class="text-center">

                                    已有<span>???</span>位预订者
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <!-- -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="text-center">首发包</h3>
                            </div>
                            <div class="panel-body">
                                <p class="text-center">
                                    【魔镜一台】 , 限量1000个
                                </p>
                                <hr />
                                <p class="text-center">
                                    感谢您的支持！魔镜，贴心好闺蜜，让爱不断电！恭喜您能以极其优惠的价格99元获得此产品。市场价199元，限额1000位！（有粉色，蓝色和白色，请在备注中标明颜色哦！无备注，随机发货）
                                </p>
                                <hr />
                                <p class="text-center">
                                    ￥99
                                </p>
                                <hr />
                                <p class="text-center">
                                    <a class="btn btn-danger">现在预订</a>
                                </p>
                                <p class="text-center">

                                    已有<span>???</span>位预订者
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- -->
                <div class="row" style="border: 1px solid red;">
                    <div class="col-md-12">
                        <p class="text-center">
                            <h3><i class="glyphicon glyphicon-gift"></i> 免费试用火热开启</h3>
                            <h5>魔镜-全球首创美妆移动电源，免费试用申请开始了，数量有限，快快行动吧！点击链接：<a href="">http://www.taihuoniao.com/try/view-4.html</a></h5>
                        </p>
                    </div>
                </div>

                <!-- desc -->
                <div class="row pad-top-1em pad-bottom-1em">
                    <img src="img/product-sale-desc.jpg" />
                </div>

                <!-- -->
                <div class="row pad-top-1em" style="background: #FF3366;">
                    <div class="col-md-10">
                        <h3>设计者</h3>
                    </div>
                    <div class="col-md-2">
                        <p>
                            <img class="img-responsive img-circle" src="img/avatar_default_small.jpg" />
                        </p>
                        <p>
                            <a class="btn btn-default">关注</a>
                            <a class="btn btn-default">私信</a>
                        </p>
                    </div>
                </div>

                <!-- -->
                <div class="row pad-bottom-1em">
                    <h3>讨论话题(<span>2</span>)</h3>
                    <hr />
                    <div class="row">
                        <div class="col-md-1">
                            <img class="img-responsive img-circle" src="img/avatar_default_small.jpg" />
                        </div>
                        <div class="col-md-7 col-md-offset-1">
                            <h4>蓝牙信号辐射会伤害儿童吗？</h4>
                            <p>
                                <span>话题讨论</span> |
                                <span>豆芽</span>
                                于<span>2</span>小时,<span>44</span>分钟前发表
                            </p>
                        </div>
                        <div class="col-md-2">
                            回复于<span>2</span>小时，<span>43</span>分钟前
                        </div>
                        <div class="col-md-1">
                            <div><span class="badge">5</span></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            <img class="img-responsive img-circle" src="img/avatar_default_small.jpg" />
                        </div>
                        <div class="col-md-7 col-md-offset-1">
                            <h4>蓝牙信号辐射会伤害儿童吗？</h4>
                            <p>
                                <span>话题讨论</span> |
                                <span>豆芽</span>
                                于<span>2</span>小时,<span>44</span>分钟前发表
                            </p>
                        </div>
                        <div class="col-md-2">
                            回复于<span>2</span>小时，<span>43</span>分钟前
                        </div>
                        <div class="col-md-1">
                            <div><span class="badge">5</span></div>
                        </div>
                    </div>
                </div>

                <!-- 常见问题 -->
                <div class="row">
                    <h3>常见问题</h3>
                    <hr />
                    <h3>收藏商品功能</h3>
                    <h4>点击“收藏按钮”后，按钮中的填实黑色,代表收藏成功，再次点击取消收藏。您可在“个人中心”中的我的收藏查看所有收藏商品。</h4>
                    <h3>订单取消，怎样退款？</h3>
                    <h4>订单取消时，您的支持金额将自动退款至<a href="">【账户余额】</a>中。您可以支持其他产品，或在此<a href="">【申请取现】</a>至您的支付宝或其他付款账户。</h4>
                </div>
            </div>
        </div>

    </div>
</div>
<br />
<div class="footer hidden-xs">
    <!-- -->
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h3><b>关于XXX</b></h3>
                <h4>关于我们</h4>
                <h4>联系我们</h4>
                <h4>成功案例</h4>
                <h4>加入我们</h4>
            </div>
            <div class="col-md-3">
                <h3><b>服务</b></h3>
                <h4>创意征集</h4>
                <h4>新品试用</h4>
                <h4>投票规则</h4>
            </div>
            <div class="col-md-3">
                <h3><b>帮助中心</b></h3>
                <h4>如何工作</h4>
                <h4>售后工作</h4>
                <h4>常见问题</h4>
                <h4>服务条款</h4>
            </div>
            <div class="col-md-3">
                <h3><b>关注我们</b></h3>
                <p>
                    <a class="btn">
                        <img class="img-rounded img-responsive"  src="../legacy/img/avatar_default_small.jpg"/>
                    </a>
                    <a class="btn">
                        <img class="img-rounded img-responsive"  src="../legacy/img/avatar_default_small.jpg"/>
                    </a>
                    <a class="btn">
                        <img class="img-rounded img-responsive"  src="../legacy/img/avatar_default_small.jpg"/>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>


</body>
</html>