<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset = "UTF-8">
    <title></title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- 载入Compass处理后的css文件 -->
    <link href="/css/main.css" rel="stylesheet" />
    
    <!--载入sale-item的css样式-->
    <link rel="stylesheet" href="/css/sale-item.css" />
    <link rel="stylesheet" href="/css/fever-item.css" />
    {% block head  %}{% endblock  %}

    <script src="js/lib/jquery.min.js"></script>
    <!--<script src="js/lib/jquery.goup.min.js"></script>-->
    <script src="js/lib/bootstrap.min.js"></script>
    <script src="js/lib/bootstrap-hover-dropdown.min.js"></script>
    <script language="javascript" src="js/lib/angular/angular.min.js"></script>
    
    <script language="javascript" src="js/lib/angular-ui-router.min.js"></script>
    <script language="javascript" src="js/lib/underscore-min.js"></script>
    <script language="javascript" src="js/lib/restangular.min.js"></script>

    <style type="text/css" media="screen">
    body {
        padding-top:70px
    }
    </style>
</head>

<body ng-controller="ApplicationController">
<script type="text/javascript" charset="utf-8">
    {% if user.is_authenticated %}
        var global_user = {
            username:  "{{ user.username }}" 
        };
    {% else %}
        var global_user=null;
    {% endif %}
</script>

<script type="text/javascript" charset="utf-8">
    var app = angular.module('app', ['ui.router', 'restangular']);
    app.config(function($interpolateProvider) {
      $interpolateProvider.startSymbol('{[');
      $interpolateProvider.endSymbol(']}'); 
    });

    app.config(function($httpProvider) {
        // 只在启动时运行一次，所以不能在此设置csrf, 因为此时标志还未被服务器设置。
        $httpProvider.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
        $httpProvider.defaults.headers.put['Content-Type'] = 'application/x-www-form-urlencoded';
    });
    
</script>
<script language="javascript" src="js/controllers/main.js"></script>
<script language="javascript" src="js/services/serv.js"></script>
<!--头部导航栏结束-->
{% include "sites/header.html"  %}
{% block content %}{% endblock %}
{% include "sites/footer.html"  %}

</body>
</html>
