{% extends 'sites/base.html' %}
{% load forum_extras %}
{% block title %}
发起创意
{% endblock %}
{% block content %}
<div style="width:100%">
    <div>
        <img class="img-responsive" src="img/bg.jpg" width="100%">
        <div class="carousel-caption">
            <a href="/submit-idea/" class="btn btn-default btn-lg">发起我的创意</a>
            <h2>创意总是不经意De来临，迫不及待发起你的创意吧!异想天开创意，或许眨眼间便成了现实。</h2>
        </div>
    </div>
</div>

<div style="background-color: #f8f8f8;width: 100%;padding-top: 100px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="media">
                    <a class="pull-right" href="#">
                        <img class="media-object" src="img/submit-idea-01.png">
                    </a>
                    <div class="media-body" style="padding-top: 200px;width:400px;">
                        <h1 class="media-heading" style="font-size: 55px;color: #36ACE3;">提交创意</h1>
                        <h4 style="line-height: 28px;">登录创意征集，点击发起我的项，填写个基本信息以及产品创意相关信息，成功提交后异想将于1-2个作进审核，通过后将显在创意发起。</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="img/submit-idea-02.png" alt="...">
                    </a>
                    <div class="media-body pull-right" style="padding-top: 200px;width:400px;">
                        <h1 class="media-heading" style="font-size: 55px;color: #36ACE3;">创意点赞</h1>
                        <h4 style="line-height: 28px;">提交创意通过审核显⽰在创意投票⻚⾯后，我们将对项⺫进⾏为期2星期的投票征集，⽤户可以选择⾃⼰喜欢的项⺫⽀持点赞或者吐槽，也可以写下你的想法和改进建议。</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="media">
                    <a class="pull-right" href="#">
                        <img class="media-object" src="img/submit-idea-03.png" alt="...">
                    </a>
                    <div class="media-body" style="padding-top: 200px;width:400px;">
                        <h1 class="media-heading" style="font-size: 55px;color: #36ACE3;">创意点赞</h1>
                        <h4 style="line-height: 28px;">提交创意通过审核显⽰在创意投票⻚⾯后，我们将对项⺫进⾏为期2星期的投票征集，⽤户可以选择⾃⼰喜欢的项⺫⽀持点赞或者吐槽，也可以写下你的想法和改进建议。</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="img/submit-idea-04.png" alt="...">
                    </a>
                    <div class="media-body  pull-right" style="padding-top: 200px;width:400px;">
                        <h1 class="media-heading" style="font-size: 55px;color: #36ACE3;">专家评估</h1>
                        <h4 style="line-height: 28px;">发起项⺫获得100个点赞后，⽅可进⼊专家评分阶段，多位专家在⼀周内对项⺫从设计，功能，外观，创意，以及市场需求进⾏评估。</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="media">
                    <a class="pull-right" href="#">
                        <img class="media-object" src="img/submit-idea-05.png" alt="...">
                    </a>
                    <div class="media-body" style="padding-top: 200px;width:400px;">
                        <h1 class="media-heading" style="font-size: 55px;color: #36ACE3;">开发生产</h1>
                        <h4 style="line-height: 28px;">项⺫获得认可后，我们会对项⺫进⾏专业的设计开发和⽣产，将您的天才想法变成现实。</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
