{% extends 'sites/base.html' %}
{% block title %}
异想
{% endblock %}
{% block content %}
<br />
<div class="wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center tt" style="border-right: 1px dashed #ccc;">
                <a href="/idea-introduction/">
                    <h1>创意征集</h1>
                </a>
            </div>
            <div class="col-md-12 text-center tt">
                <a href="/shop/">
                    <h1>创意集市</h1>
                </a>
            </div>
        </div>
    </div>
</div>
<script>
    $(function(){
        // $("ul#navbar-top li").eq(0).addClass("navbar-menu-hover").siblings("li").removeClass("navbar-menu-hover");
        var height=$(window).innerHeight()-100;
        var paddingTop=height/2;
        $('.tt').css({'height':height,'padding-top':paddingTop});
    });
</script>
{% endblock %}
