{% extends 'sites/base.html' %}
{% block title %}
商品
{% endblock %}
{% block content %}
    <div id="main-content">

        <!-- -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ol class="breadcrumb">
                        <li><a href="javascript:void(0);">首页</a></li>
                        <li><a href="javascript:void(0);">商店</a></li>
                        <li><a href="javascript:void(0);">智能家居</a></li>
                        <li class="active">智能防丢贴片蓝牙追踪器寻物器钱包防丢卡nut f3追踪定位器</li>
                    </ol>
                </div>
            </div>
        </div>

        <!-- -->
        <div class="container pad-bottom-1em" id="product-carousel">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="text-center">
                            <img src="/img/slider-1.jpg" alt="...">
                            <div class="carousel-caption">
                                ...
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="text-center">
                            <img src="/img/slider-2.jpg" alt="...">
                            <div class="carousel-caption">
                                ...
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="text-center">
                            <img src="/img/slider-3.jpg" alt="...">
                            <div class="carousel-caption">
                                ...
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="text-center">
                            <img src="/img/slider-4.jpg" alt="...">
                            <div class="carousel-caption">
                                ...
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="text-center">
                            <img src="/img/slider-5.jpg" alt="...">
                            <div class="carousel-caption">
                                ...
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        <!-- -->
        <div class="container">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-5">
                        <h3>智能防丢贴片蓝牙追踪器寻物器钱包防丢卡nut f3追踪定位器</h3>
                        <p>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star-empty"></i>
                            <i class="glyphicon glyphicon-star-empty"></i>
                            <i class="glyphicon glyphicon-star-empty"></i>
                            <i class="glyphicon glyphicon-star-empty"></i>
                            <span>13</span>条评价|
                            <span>36</span>人点赞
                        </p>
                        <p>
                            <a class="btn btn-default">收藏</a>
                            <a class="btn btn-default">
                                <i class="glyphicon glyphicon-heart"></i>
                            </a>
                            <a class="btn btn-default">
                                <i class="glyphicon glyphicon-share"></i>
                            </a>
                        </p>
                    </div>
                    <div class="col-md-5 col-md-offset-2">
                        <div class="row pad-bottom-1em">
                            <p>
                                <span class="pull-right">
                                    <a class="btn btn-default">蓝色</a>
                                    <a class="btn btn-default">红色</a>
                                    <a class="btn btn-default">白色</a>
                                    <a class="btn btn-default">绿色</a>
                                </span>
                            </p>
                        </div>
                        <div class="row pad-bottom-1em">
                            <p>
                                <span class="pull-right">
                                    <strike>￥158</strike>
                                    &nbsp;&nbsp;
                                    <strong>￥158</strong>
                                    &nbsp;&nbsp;
                                    <a class="btn btn-danger">加入购物车</a>
                                </span>
                            </p>
                        </div>
                        <div class="row pad-bottom-1em">
                            <p>
                                <span class="pull-right">
                                    <a class="btn btn-default">立即购买</a>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- desc -->
                <div class="row pad-bottom-1em">
                    <img src="/img/product-sale-desc.jpg" />
                </div>
                <!-- -->
                <div class="row pad-top-1em" style="background: #FF3366;">
                    <div class="col-md-10">
                        <h3>设计者</h3>
                    </div>
                    <div class="col-md-2">
                        <p>
                            <img class="img-responsive img-circle" src="/img/avatar_default_small.jpg" />
                        </p>
                        <p>
                            <a class="btn btn-default">关注</a>
                            <a class="btn btn-default">私信</a>
                        </p>
                    </div>
                </div>
                <!-- -->
                <div class="row">
                    <h3>用户评价(<span>13</span>)</h3>
                    <hr />
                    <div class="row">
                        <div class="col-md-2">
                            <img class="img-responsive img-circle" src="/img/avatar_default_small.jpg" />
                        </div>
                        <div class="col-md-9">
                            <p>
                                <span>yellowBlue</span>
                                &nbsp;&nbsp;
                                <span>2014</span>-<span>10</span>-<span>09</span>
                                &nbsp;&nbsp;
                                <i class="glyphicon glyphicon-star"></i>
                                <i class="glyphicon glyphicon-star"></i>
                                <i class="glyphicon glyphicon-star-empty"></i>
                                <i class="glyphicon glyphicon-star-empty"></i>
                                <i class="glyphicon glyphicon-star-empty"></i>
                            </p>
                            <p>
                                不错
                            </p>
                        </div>
                        <div class="col-md-1">
                            <i class="glyphicon glyphicon-heart-empty"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
