{% extends 'sites/base.html' %}
{% block title %}登录{% endblock %}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}
{% block content %}


<script
src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=3813532887" type="text/javascript" charset="utf-8"></script>
<div class="container" style="padding-top:10%;"> <div class="row"> <div class="col-md-8 col-md-offset-6">
			<!--登录弹出框区域开始-->
			<form class="form-horizontal login-form" role="form" name="loginForm" action="/accounts/login/" method="POST">
		    {% csrf_token %}
		    	<input type="hidden" name="next" value="{{ next  }}"/>
				<div class="form-group has-feedback">
					<h1 style="padding-bottom:20px;">Log In</h1>
					<input class="form-control input-lg" name="username" type="text" placeholder="用户名" required />
				</div>
				<div class="form-group has-feedback">
					<input class="form-control input-lg" name="password" type="password" placeholder="密码" required />
				</div>
				<div class="form-group" style="text-align: center;">
					<input class="btn btn-lg pull-left" type="submit" value="登录" style="width:30%;background-color:#36ACE3;color:#fff;" />
					<div class="checkbox pull-right" style="width:30%">
				      	<label><input type="checkbox"> 自动登录</label>
				   	</div>
					<br />
			      	<a href="#" style="float: right;">忘记密码？</a>
				</div>
				<div class="text-center" style="height:50px;">
					<span style="display:block;width:45%;border-top:1px solid #B4B5B5;float:left;margin-top:15px;"></span>
					<span style="display:block;padding:0 10px;font-size:24px;float:left;color:#9F9FA0;">or</span>
					<span style="display:block;width:45%;border-top:1px solid #B4B5B5;float:left;margin-top:15px;"></span>
				</div>
				<div class="form-group">
					<a id="qqLoginBtn" class="btn btn-lg btn-block" style="background-color:#36ACE3;color:#fff;"></a>
                    <br>
                    <a id="weibologin" class="btn btn-lg btn-block" style="background-color:#36ACE3;color:#fff;"></a>
					<br>
					<span>已有账号？<a href="">立即注册</a></span>
				</div>
		        <div>{{ form.errors }}</div>
			</form>

			<form class="form-horizontal bind-form" role="form" name="bindForm" style="display:none">
				<div class="text-center">
					<img class="qqavatar" src="" style="width:80px;height:80px;" alt="">
				</div>
				<div class="form-group has-feedback">
					<h1 style="padding-bottom:20px;">绑定QQ</h1>
					<input class="form-control input-lg bind-qqname" name="username" type="text" placeholder="用户名" required />
				</div>
				<div class="form-group has-feedback">
					<input class="form-control input-lg bind-email" name="email" type="email" placeholder="邮箱" required />
				</div>
				<div class="form-group" style="text-align: center;">
					<input class="btn btn-lg pull-left bind-qq" type="submit" value="绑定" style="width:30%;background-color:#36ACE3;color:#fff;" />
				</div>
			</form>

		</div>
	</div>
</div>
<script type="text/javascript">

//QQ登陆开始，建议写在函数内，当检查到没有登录时调用。
QC.Login({
        btnId:"qqLoginBtn",//生成登录按钮的ID
        size: "B_M"//QQ图标大小
    }, function(reqData, opts){
        // 自己重载了，所以不会显示默认的头像。
        //登陆成功执行
        var name=QC.String.escHTML(reqData.nickname);//获取QQ会员名
        var info={
            password:'yeexiang',
            username:name,//会员名取后8位字符
            sex:reqData.gender,//性别：男|女
            avatar:reqData.figureurl_qq_2 //头像100X100
        };
        if(QC.Login.check()){
            //QQ成功登陆
            QC.Login.getMe(function(openId, accessToken){
                info.openId=openId;
                info.accessToken=accessToken;
                //开始写入数据库
                console.log(info)
                // 提交info信息。
                $.ajax({
                    type: "post",
                    url: "/accounts/api/login/qq/",
                    dataType: "json",
                    data: info,
                    success:function(data){
                        if (data[0] == false) {
                        	$("input.bind-qqname").val(data[1]);
                        	$("img.qqavatar").attr('src',info.avatar);
                            // 显示绑定页面。
                            // 发送/accounts/qq/bind/  绑定用户。
                            $("form.login-form").hide();
                            $("form.bind-form").show();
                            $("input.bind-qq").click(function(){
                            	var qqbind={
                            		qqname:$("input.bind-qqname").val(),
                            		email:$("input.bind-email").val(),
                            	};
                            	$.each(info,function(key,value){
                            		qqbind[key] = value;
                            	});
                                console.log(qqbind);
                            	$.ajax({
                            		type: "post",
                            		url: "/accounts/api/bind/",
                            		dataType: "json",
                            		data: qqbind,
                            		success: function(data){
                                        if(data)
                                            window.location.href = "{{ next }}" ;
                                        else
                                            alert("绑定失败");
                            		},
                            		error: function(error){
                            			alert("绑定失败");
                            		}
                            	});
                            });
                        }
                        else{
                            // 用户已经绑定，跳转。
                            window.location.href = "{{ next }}" ;
                        }
                    },
                    error:function(){
                        console.log('提交失败');
                    }

                });
            });
        }

    },function(opts){
        //console.log("QQ注销成功");
    });

// 微博登录
WB2.anyWhere(function(W){  
W.widget.connectButton({  
    id: "weibologin",  
    type:'3,2',  
    callback : {  
        login:function(o){    //登录后的回调函数  
            console.log(o);
            // 发送o.id, o.name, o.avatar_large
        }  
    }  
});  
});  

</script>
{% endblock %}
