{% extends 'sites/base.html' %}
{% block header %}
论坛
{% endblock %}
{% block content %}
<div ng-controller="authController">
	<!--登录弹出框区域开始-->
		<div class="modal-dialog">
			<div class="modal-content">
				<form class="form-horizontal" role="form" name="loginForm" action="/accounts/login/" method="POST">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next  }}"/>
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h3 class="modal-title" id="loginLabel">
							登录异想创意
						</h3>
					</div>
					<div class="modal-body" style="padding: 0 40px;">
						<div class="form-group" style="padding: 15% 15%;">
							<input class="btn btn-lg btn-default" type="button" value="用微博登陆" style="float: left;width: 45%;"/>
							<input class="btn btn-lg btn-default" type="button" value="用QQ登陆" style="float: right;width: 45%;"/>
						</div>
						<div class="form-group has-feedback">
							<input
								class="form-control input-lg"
								name="username"
								type="text"
								placeholder="用户名"
								ng-minlength="6"
								ng-maxlength="25"
								ng-model="credentials.username"
								ng-pattern="/^[\u4e00-\u9fa5-_0-9a-zA-Z]+$/"
								required
							/>
							<span class="glyphicon glyphicon-ok form-control-feedback"
	                              ng-show="loginForm.userName.$dirty && loginForm.userName.$valid"
	                              style="color: green;">
							</span>
							<span ng-show="loginForm.userName.$dirty && loginForm.userName.$invalid">
								<span ng-show="loginForm.userName.$error.minlength" style="color: red;">请输入6个字符以上</span>
								<span ng-show="loginForm.userName.$error.maxlength" style="color: red;">请输入25个字符以下</span>
								<span ng-show="loginForm.userName.$error.pattern" style="color: red;">输入的用户名不合法</span>
							</span>
						</div>
						<div class="form-group has-feedback">
							<input
								class="form-control input-lg"
								name="password"
								type="password"
								placeholder="密码(6~12)"
								ng-maxlength="12"
								ng-minlength="6"
								ng-model="credentials.password"
								required
							/>
							<span class="glyphicon glyphicon-ok form-control-feedback"
	                              ng-show="loginForm.password.$dirty && loginForm.password.$valid"
	                              style="color: green;">
							</span>
							<span ng-show="loginForm.password.$dirty && loginForm.password.$invalid">
								<span ng-show="loginForm.password.$error.minlength" style="color: red;">输入的密码少于6位</span>
								<span ng-show="loginForm.password.$error.maxlength" style="color: red;">输入的密码超过12位</span>
							</span>
						</div>
						<div class="checkbox">
					      	<label>
					      		<input type="checkbox"> 自动登录
					      	</label>
					      	<a href="#" style="float: right;">忘记密码？</a>
					   	</div>
					</div>
					<div class="modal-footer" style="padding: 20px 40px;">
						<div class="form-group" style="text-align: center;">
							<input class="btn btn-lg btn-success btn-block " type="submit" value="登录" id="loginBtn"/>
							<br />
							<span>已有账号？<a data-toggle="modal" data-target="#register" style="cursor: pointer;">立即注册</a></span>
						</div>
					</div>
                    <div>{{ form.errors }}</div>
				</form>
			</div>
	</div>
</div>
<script type="text/javascript" charset="utf-8">
    $("#login").modal("toggle");
</script>
{% endblock %}
